body {
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-family: "Adwaita Mono", monospace;
    text-align: justify-all;
    padding: 40px;
    border: lightpink 3px dotted;
    border-radius: 15px;

}

h1 {
    text-align: center;
    color: palevioletred;
}

h2 {
    color: palevioletred;;
}

h3 {
    color: rosybrown;
}

ol li::marker {
    color: rosybrown;
}

hr {
    color: lavenderblush;
    margin-bottom: 40px;
    margin-top: 40px;
}

ul {
    list-style-type: circle;
    display: grid;
    gap:10px
}

table {
    background-color: lavenderblush;
    border-style: dashed;
    border-collapse: collapse;
    border-color: pink;
}

td, tr , th {
    border-color: pink;
    border-style: dotted;
    padding: 5px;
    text-align: center;
}

#illustration-box {
    width: 75%;
    margin-bottom: 30px;
}

.chapter-section {
    margin-top: 40px;
}

h4 {
    color: palevioletred;
    margin-top: 25px;
}